<!--<h4> This is inside the servers component</h4>-->
<app-server *ngFor="let server of servers"></app-server>
<!--<p [innerText]="allowNewServers"></p>-->

<!--<input type="text" class="form-control" (input)="onUpdateServerName($event)">-->
<label>
  <input type="text" class="form-control" [(ngModel)]="serverName">
</label>
<p *ngIf="serverCreated; else noServer" [innerText]="onServerCreate"></p>
<ng-template #noServer>
  <p> No server is created</p>
</ng-template>


<button class="btn btn-primary" [disabled] = "!allowNewServers" (click)="onServerButtonClick()">Add Server</button>

<!--<p [innerText]="serverName"></p>-->
